/*
	div.gallery
	  figure
	    img
	    figcaption
*/

div.gallery {
  @extend .row;
  @extend .row-cols-2;
  .gallery-item {
    padding: 1px;
  }
  figure {
    margin: 1rem;
    @extend .card;
    img {
      @extend .card-img-top;
    }
    figcaption {
      @extend .card-body;
    }
  }
}